.conteiner{
 text-align: justify;

}
.centroform{

    position:absolute;
    top: 50%;
    left: 50%;

    margin: -70px 0 0 -170px; 

  }
.img{

  display: block; margin-left: auto; margin-right: auto
}
